<header class="auth-header-bar">

  <h1 class="auth-header-logo">CLOUDCAST</h1>

  <ul class="auth-header-tabs">
    <li class="create-account-selected"><a href="#">Create Account</a></li>
    <li class="sign-in-tab">
      <a href="#">Sign In</a>
    </li>
  </ul>

</header>
