<header class="auth-header-bar">

  <div class="auth-header-logo-image"></div>
  <h1 class="auth-header-logo">CLOUDCAST</h1>

  <ul class="auth-header-tabs">
    <li class="create-account-tab"><%= link_to 'Create Account', new_user_url %></li>
    <li class="sign-in-selected">
      <a href="#">Sign In</a>
    </li>
  </ul>

</header>
