/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ~ RESET ~ */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;

  box-sizing: inherit;
  background: transparent;
}

/* ~ CLEARFIX ~ */

.group {
  content: "";
  clear: both;
  display: block;
}

/* ~ USERS ~ */

body {
  font-family: sans-serif;
  font-family: Tahoma;
  font-size: 12px;
}

ul {
  list-style: none;
}

.auth-header-stretch {
  background: #2a2a2a;
  padding: 0 10px;
  position: relative;
  height: 65px;
}

.auth-header-bar {
  color: #fff;
  font-size: 18px;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.auth-header-logo {
  float: left;
  padding: 10px;
  letter-spacing: 5px;
}

.auth-header-tabs {
  display: block;
  float: right;
  color: #eee;
  padding: 0 20px 0 0;
}

.auth-header-logo-image {
  height: 38px;
  width: 38px;
  margin: 2px 0 0 0;
  float: left;
  /*background: #ff5500;*/
  background: asset-url('cloudcast_white.png');
  background-size: contain;
}

.create-account-tab,
.sign-in-tab,
.create-account-selected,
.sign-in-selected {
  display: block;
  float: left;
  padding: 10px 15px 20px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sign-in-selected,
.create-account-selected {
  background: #fff;
  color: #000;
}

.auth-main {
  width: 450px;
  padding: 40px 10px 10px 10px;
  min-height: 450px;
  margin: 0 auto;
}

.auth-form * input {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  margin: 4px 0;
}

.email-input {
  width: 430px;
}

.halved-password-input-wrapper {
  margin: 20px 0 20px 0;
  width: 225px;
  float: left;
}

.halved-password-input {
  width: 205px;
}

.password-input-wrapper {
  margin: 20px 0 20px 0;
  width: 450px;
  float: left;
}

.password-input {
  width: 430px;
}

.terms-agreement-wrapper > a {
  color: #3388DD;
}

.terms-agreement-wrapper > a:hover {
  color: #000;
}

.submit-button {
  background: #ff5500;
  color: #fff;
  padding: 5px 10px;
  float: right;
  border-radius: 4px;
}

.submit-button:hover {
  cursor: pointer;
}
