/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ~ RESET ~ */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;

  box-sizing: inherit;
  background: transparent;
}

body {
  font-family: 'Asap', sans-serif;
  font-size: 12px;
	background: #eee;
}

ul {
  list-style: none;
}


/* ~ CLEARFIX ~ */

.group {
  content: "";
  clear: both;
  display: block;
}

.non-display {
  opacity: 0;
}

/* ~ USER AUTHENTICATION ~ */

.login-dimmer {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
}

.login-box {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 350px;
  opacity: 1;
}

.auth-header-stretch {
  background: #000;
  padding: 0 10px;
  position: relative;
  height: 65px;
}

.auth-header-bar {
  color: #fff;
  font-size: 18px;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.auth-header-logo {
  float: left;
  padding: 10px;
  letter-spacing: 5px;
  position: absolute;
  left: 30px;
  margin: 3px 0 0 0;
}

.auth-header-tabs {
  display: block;
  float: right;
  color: #eee;
  padding: 0 20px 0 0;
}

.auth-header-logo-image {
  height: 38px;
  width: 38px;
  float: left;
  background: asset-url('cloudcast_slim_white.png');
  background-size: contain;
}

.create-account-tab,
.sign-in-tab,
.create-account-selected,
.sign-in-selected {
  display: block;
  float: left;
  padding: 10px 15px 20px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sign-in-selected,
.create-account-selected {
  background: #fff;
  color: #000;
}

/* ~ USER AUTH MODAL ~ */

.auth-main {
  width: 450px;
  padding: 40px 10px 10px 10px;
  min-height: 450px;
  margin: 0 auto;
}

.auth-form * input {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  margin: 4px 0;
}

.email-input {
  width: 430px;
}

.halved-password-input-wrapper {
  margin: 20px 0 20px 0;
  width: 225px;
  float: left;
}

.halved-password-input {
  width: 205px;
}

.password-input-wrapper {
  margin: 20px 0 20px 0;
  width: 450px;
  float: left;
}

.password-input {
  width: 430px;
}

.terms-agreement-wrapper > a {
  color: #3388DD;
}

.terms-agreement-wrapper > a:hover {
  color: #000;
}

.submit-button {
  background: #ff5500;
  color: #fff;
  padding: 5px 10px;
  float: right;
  border-radius: 4px;
}

.submit-button:hover {
  cursor: pointer;
}

.demo-signin {
  cursor: pointer;
  text-align: center;
  margin-top: 140px;
}

/* ~ TRACK INDEX NAVBAR ~ */

.index-navbar-stretch {
  height: 46px;
  margin: 0 auto;
  background: #333;
  display: block;
}

.index-navbar {
  height: 46px;
  max-width: 1000px;
  margin: 0 auto;
  background: #333;
  display: block;
}

.index-logo-image {
  width: 42px;
  height: 34px;
  background: linear-gradient( 350deg, #f30, #f70);
  padding: 6px;
  content: asset-url('cloudcast_slim_white.png');
  float: left;
}

.link-tab {
  color: #bbb;
  font-size: 14px;
  text-align: center;
}

.link-tab:hover {
  color: #eee;
}

.search-bar-tab {
  width: 326px;
  height: 22px;
  padding: 16px 6px 6px 12px;
  display: block;
  float: left;
  position: relative;
}

.search-bar {
  background: #ddd;
  height: 20px;
  padding: 4px 4px 4px 8px;
  margin: 0 0 12px 0;
  width: 92%;
  border-radius: 4px;
  position: absolute;
  top: 9px;
  font-size: 14px;
  color: #999;
}

.home-tab, {
  width: 120px;
  height: 24px;
  padding: 14px 6px 6px 6px;
  display: block;
  border-right: 1px solid #000;
  cursor: pointer;
  float: left;
}

.upload-tab, .header-sign-in-tab, .user-dropdown-tab {
  width: 70px;
  height: 24px;
  padding: 14px 6px 6px 6px;
  display: block;
  float: right;
}

.profile-tab, .header-sign-in-tab, .user-dropdown-tab {
  width: 70px;
  height: 24px;
  padding: 14px 6px 6px 6px;
  display: block;
  float: right;
}

.user-dropdown-tab {
  padding: 10px 6px 6px 6px;
}

.user-dropdown-tab:hover {
  cursor: pointer;
}

/* ~ TRACK INDEX MAIN ~ */

.index-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #fff;
}

.index-page-main {
  width: 659px;
  background: #fff;
  border-right: 1px solid #ddd;
  float: left;
}

.stream-header {
  font-size: 18px;
  color: #aaa;
  padding: 16px 16px 4px 16px;
  letter-spacing: 2px;
}

.index-sidebar {
  width: 340px;
  height: 1989px;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  z-index: -1;
}

/* ~ TRACK INDEX ITEM ~ */

.track-index-item {
  width: 620px;
  height: 240px;
  margin: 0 auto;
  position: relative;
}

.track-header {
  height: 56px;
  width: 620px;
}

.track-poster-image {
  width: 32px;
  height: 32px;
  display: block;
  margin: auto 0;
  object-fit: cover;
  object-position: 0 0;
	background: #eee; //asset-url('medigoron.png');
  background-size: contain;
  border-radius: 50%;
  margin: 12px 0 0 0;
  float: left;
}

.track-header-text {
  font-size: 12px;
  margin: 19px 0 0 9px;
  float: left;
}

.track-body {
  height: 184px;
  padding: 12px;
  position: relative;
}

.track-image {
  background: #ff5500;
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: 0 0;
  background: #eee;// asset-url('agents_of_fortune.jpg');
  background-size: contain;
}

.track-body-main {
  height: 184px;
  width: 424px;
  right: 620px;
  position: absolute;
  top: 0;
  left: 184px;
  padding: 6px;
}

.track-subheader {
  height: 40px;
  width: 424px;
  position: relative;
  margin: 6px 0 0 0;
}

.playicon {
  width: 40px;
  height: 40px;
  background: asset-url('play_icon.png');
  background-size: contain;
}

.pauseicon {
  width: 40px;
  height: 40px;
  background: asset-url('pause_icon.png');
  background-size: contain;
}

.track-username {
  color: #c0c0c0;
  position: absolute;
  top: 0;
  left: 44px;
}

.track-title {
  color: #000;
  position: absolute;
  font-size: 14px;
  top: 18px;
  left: 44px;
}

.waveform {
  background: #fff;
  height: 50px;
  width: 394px;
  position: absolute;
  right: 0;
  bottom: 90px;
  border-right: 6px solid #1D79C9;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #f2f2f2;
}

.waveform-oreo {
  background: transparent;
  height: 54px;
  width: 0px;
  position: absolute;
  left: 216px;
  bottom: 89px;
  z-index: 101;
  border-right: 6px solid #FF5500;
}

.track-time {
  background: transparent;
  padding: 2px 3px 0 3px;
  height: 16px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #1D79C9;
  font-size: 11px;
  text-align: center;
  z-index: 101;
}

.track-time-left {
  background: transparent;
  padding: 2px 3px 0 3px;
  height: 16px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #FF5500;
  font-size: 11px;
  text-align: center;
  z-index: 101;
}

.track-buttons-wrapper {
  position: absolute;
  left: 46px;
}

.track-button {
  float: left;
  width: 26px;
  height: 22px;
  display: block;
  margin: 3px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.social-info-wrapper {
  position: absolute;
  bottom: 32px;
  right: 12px;
  width: 388px;
  font-size: 11px;
}

.likes-count, .comments-count {
  margin: 8px;
}

.likes-count {
  float: left;
  position: absolute;
  top: 0;
  left: -10px;
  cursor: pointer;
}

.likes-count:hover > .likes-dropdown {
  display: block;
}

.likes-dropdown {
  font-size: 10px;
  padding: 6px;
  background: #1d79c9;
  color: #fff;
  border-bottom-right-radius: 14px;
  display: none;
}

.likes-dropdown:hover {
  display: block;
}

.comments-count {
  float: right;
}

.commenter-avatars {
  float: right;
}

.commenter-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
  display: block;
  float: right;
  padding: 0 1px;
}

.track-button:hover {
  border: 1px solid #bbb;
  cursor: pointer;
}

.track-like {
  background: asset-url('like.png');
  background-size: contain;
}

.track-repost {
  background: asset-url('repost.png');
  background-size: contain;
}

.track-playlistadd {
  background: asset-url('playlist.png');
  display: none;
  background-size: contain;
}

.track-edit {
  background: asset-url('edit_icon.png');
  background-size: contain;
  display: none;
}

.track-delete {
  background: asset-url('trash_icon.png');
  background-size: contain;
}

.track-share {
  background: asset-url('share.png');
  background-size: contain;
}

.followed-pane {
  width: 340px;
}

/* ~ NEW TRACK FORM ~ */

.content-main {
  position: relative;
}

.modal-dimmer {
  height: 3000%;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 999;
}

.track-form-main {
  width: 700px;
  position: fixed;
  top: 90px;
  left: 50%;
	margin-left: -350px;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  background: #fff;
}

.auth-form-main {
  width: 740px;
  position: fixed;
  top: 90px;
  left: 50%;
	margin-left: -370px;
  padding: 0px;
  border-radius: 16px;
  z-index: 1000;
  background: #fff;
}

.track-form-header {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
}

.track-submit-button {
  background: #fff;
  color: #777;
  padding: 5px 10px;
  display: block;
  margin: 30px auto;
  border-radius: 4px;
  cursor: pointer;
}

.track-submit-button:hover {
  color: #999;
}

.track-info-main {
  width: 650px;
  display: block;
  margin: 20px auto;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 5px solid #ff5500;
  border-bottom: 5px solid #1D79C9;
  padding: 20px;
  min-height: 320px;
}

.image-upload {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0 0;
  background: #eff;
  background-size: contain;
  position: relative;
  float: left;
}

.image-upload-button {
  position: relative;
  top: 250px;
  left: -240px;
}

.track-form-info-box {
  position: absolute;
  top: 138px;
  left: 360px;
  float: right;
  padding: 10px;
  width: 310px;
  margin: 20px 15px 0 0;
  border-top: 1px solid #eee;
  width: 300px;
}

.track-form-footer {
  position: absolute;
  bottom: 56px;
  width: 100%;
}

.track-title-input, .track-tags-input, .track-description-input {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
  margin: 10px 0;
  padding: 4px 10px;
  color: #333;
}

.track-description-input {
  height: 128px;
  padding: 10px 10px;
}

.track-title-input:focus, .track-tags-input:focus, .track-description-input:focus {
  border: 1px solid #bbb;
}

.track-form-buttons {
  float: right;
  margin: 0 90px 0 0;
}

.track-cancel-button, .track-save-button {
  color: #777;
  padding: 5px 10px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.track-save-button {
  background: #ff5500;
  color: #eee;
}

.footer-text {
  color: #888;
  position: absolute;
  bottom: 4px;
}

.track-save-button:hover {
  color: #fff;
}

.track-cancel-button:hover {
  color: #222;
}

/* ~ TRACK DETAIL ~ */

.track-detail-header {
  width: 1000px;
  height: 380px;
  position: relative;
  background: linear-gradient( 330deg, #aaa, #eee);
  list-style: none;
}

.track-detail-leftbar {
  float: left;
  width: 632;
}

.track-detail-sidebar {
  border-left: 1px solid #eee;
  width: 360px;
  height: 100%;
  background: white;
  float: right;
}

.track-avatar {
  height: 330px;
  width: 330px;
  float: right;
  margin: 20px;
  object-fit: cover;
  object-position: 0 0;
  background: #eee;// asset-url('agents_of_fortune.jpg');
  background-size: contain;
}

.track-header-info > h2 {
  height: 26px;
  padding: 4px 12px 0 12px;
  background: black;
  position: absolute;
  top: 30px;
  left: 96px;
  text-align: center;
  font-size: 16px;
  color: #aaa;
}

.track-header-info > h1 {
  height: 36px;
  padding: 4px 12px 0 12px;
  background: black;
  position: absolute;
  top: 66px;
  left: 96px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.track-detail-waveform {
  background: #fff;
  width: 560px;
  height: 70px;
  position: absolute;
  bottom: 60px;
  left: 40px;
  border-right: 6px solid #1D79C9;
}

.track-detail-waveform-oreo {
  background: transparent;
  width: 0;
  height: 72px;
  position: absolute;
  bottom: 59px;
  left: 40px;
  border-right: 6px solid #FF5500;
  z-index: 99;
}

.track-detail-main {
	width: 1000px;
	position: absolute;
	top: 380px;
	left: 50%;
	margin-left: -500px;
	z-index: 1000;
	background: #fff;
}

.track-detail-playicon {
  height: 64px;
  width: 64px;
  position: absolute;
  left: 20px;
  top: 30px;
}

.track-info-user-avatar {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  object-fit: cover;
  object-position: 0 0;
	background: #eee; //asset-url('medigoron.png');
  background-size: cover;
  background-position: center;
}

.track-info-username {
  position: absolute;
  top: 144px;
  left: 12px;
  font-size: 14px;
  width: 124px;
  text-align: center;
}

.track-info-description {
  position: absolute;
  top: 26px;
  left: 164px;
  font-size: 14px;
  width: 430px;
  min-height: 70px;
  border-top: 2px solid #FF5500;
  border-bottom: 2px solid #1D79C9;
  text-align: justify;
  padding: 10px 0;
}

.track-comments-wrapper {
  position: absolute;
  bottom: 28px;
  left: 30px;
  height: 30px;
}

.track-comment {
  float: left;
  position: absolute;
  left: 0;
}

.track-comment:hover {
  z-index: 1;
}

.track-comment:hover > .track-comment-body {
  display: block;
}

.track-comment-image {
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: 0 0;
}

.track-comment-body {
  position: absolute;
  top: 30px;
  border-left: 2px solid #FF5500;
  padding-left: 2px;
  width: 380px;
  display: none;
}

.comments-main-wrapper {
  width: 570px;
  float: left;
  padding-top: 190px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.comment-main {
  height: 70px;
  padding: 10px;
  position: relative;
  border-top: 1px solid #ff5500;
}

.comment-main-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
}

.blue {
  color: #1d79c9;
}

.orange {
  color: #ff5500;
}

.orange-link {
  color: #ff5500;
}

.orange-link:hover {
  color: #1d79c9;
}

.orange-circle {
  color: #fff;
  padding: 2px 4px;
  border-radius: 36%;
  background: #ff5500;
}

.orange-button {
  cursor: pointer;
  color: #ff5500;
}

.comment-main-userinfo {
  position: absolute;
  top: 18px;
  left: 70px;
}

.comment-main-body {
  position: absolute;
  top: 33px;
  left: 70px;
}

.track-detail-sidebar {
  position: absolute;
  right: 0;
  width: 360;
  float: right;
}

.likes-box {
  display: block;
  float: right;
  width: 340px;
  float: right;
  margin: auto;
  padding-left: 20px;
}

.like-list-item {
  height: 60px;
  padding: 0, 5px;
  padding-top: 10px;
}

.like-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 3px;
  float: left;
}

.like-notification {
  float: left;
  font-size: 14px;
  padding: 14px 8px;
}

.like-button {
  cursor: pointer;
}

.comment-form-wrapper {
  width: 450px;
  height: 80px;
  position: absolute;
  left: 38px;
  top: 160px;
  padding: 6px;
  font-size: 13px;
}

.comment-form-textarea {
  position: absolute;
  top: 40px;
  padding: 10px 12px;
  width: 454px;
  height: 16px;
  border-top: 2px solid #ff5500;
  border-bottom: 2px solid #1d79c9;
  border-radius: 4px;
}

.comment-form-textarea:hover {
  height: 50px;
  top: 6px;
}

.comment-form-textarea:focus {
  height: 50px;
  top: 6px;
  background: white;
}

.comment-submit-button {
  color: #fff;
  border-radius: 4px;
  padding: 4px 6px;
  background: #ff5500;
  position: absolute;
  cursor: pointer;
  top: 50px;
  left: 494px;
}

.like-button {
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 6px 8px;
  background: #ff5500;
  margin: 30px 143px;
  cursor: pointer;
}

.like-button:hover {
  color: #ff5500;
  border: 1px solid #ff5500;
  background: #fff;
}

.comment-submit-button:hover {
  color: #ff5500;
  background: #fff;
}

/* ~ USER DETAIL ~ */

.user-detail-main {
	width: 1000px;
	position: absolute;
	top: 46px;
	left: 50%;
	margin-left: -500px;
	z-index: 1000;
	background: #fff;
}

.user-detail-sidebar {
  background: #fff;
  width: 340px;
  min-height: 520px;
  float: right;
}

.user-header {
	width: 1000px;
	height: 262px;
	background: linear-gradient( 330deg, #aaa, #eee);
	background-size: cover;
	background-position: center;
	letter-spacing: 1px;
}

.user-avatar {
	width: 204px;
	height: 204px;
	position: relative;
	top: 30px;
	left: 30px;
  object-fit: cover;
  object-position: 0 0;
	background: #eee; //asset-url('medigoron.png');
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.user-header-info {
	position: relative;
	height: 50px;
	bottom: 70px;
	color: white;
	left: 70px;
  display: inline;
  padding: 6px 12px;
	background: #000;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	opacity: .85;
}

.user-detail-tabs {
	width: 1000px;
	height: 48px;
	border-bottom: 1px solid #ddd;
}

.user-detail-tabs > a {
	display: block;
	float: left;
	padding: 20px 0 0 26px;
	font-size: 18px;
	letter-spacing: 1px;
}

.user-detail-index {
	width: 659px;
  min-height: 520px;
	float: left;
	border-right: 1px solid #ddd;
  position: relative;
}

.user-track-tab {
  background: #fff;
  width: 80px;
  height: 30px;
  position: absolute;
  top: -33px;
  left: 15px;
  text-align: center;
  font-size: 20px;
  padding: 2px 0 0 0;
  border-bottom: 1px solid #f40;
  color: #f40;
}

.user-series-tab {
  background: #fff;
  width: 80px;
  height: 30px;
  position: absolute;
  top: -33px;
  left: 100px;
  text-align: center;
  font-size: 20px;
  padding: 2px 0 0 0;
  border-bottom: 1px solid #f40;
  color: #f40;
}

.new-playlist-button {
  background: #ff5500;
  color: #eee;
  padding: 5px 10px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 80px;
  margin: 16px 0 4px 80px;
}

/* ~ USER DETAIL SERIES ~ */

.series-index-main {
  margin: 0 24px;
  padding: 10px;
  height: 280px;
  position: relative;
}

.series-item-left {
  width: 190px;
  float: left;
}

.series-item-image-box {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  background: #eee;//asset-url('agents_of_fortune.jpg');
  background-size: contain;
  position: relative;
}

.series-item-image {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  object-fit: cover;
  object-position: 0 0;
  background: #eee;//asset-url('agents_of_fortune.jpg');
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.track-number {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #000;
  height: 52px;
  width: 60px;
  font-weight: bold;
  text-align: center;
  margin: 8px 8px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 50%;
  padding: 8px 0 0 0;
}

.series-item-right {
  width: 400px;
  float: right;
  position: relative;
}

.series-subheader {
  height: 50px;
  position: relative;
}

.demo-play {
  float: left;
  margin: 5px;
}

.series-username {
  color: #c0c0c0;
  float: left;
  position: absolute;
  font-size: 14px;
  top: 3px;
  left: 50px;
}

.series-title {
  color: #000;
  position: absolute;
  font-size: 14px;
  top: 21px;
  left: 52px;
}

.series-waveform {
  background: #eee;
  height: 70px;
  width: 424px;
  position: absolute;
  top: 50px;
  left: 0;
}

.track-demo-list {
  position: absolute;
  top: 130px;
  left: 0;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.track-demo {
  width: 414px;
  font-size: 13px;
  height: 20px;
  border-top: 1px solid #eee;
  padding: 4px;
  position: relative;
}

.track-demo-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: 0 0;
  background: #eee;//asset-url('agents_of_fortune.jpg');
  background-size: contain;
  float: left;
}

.track-demo-username, .track-demo-title, .track-order {
  float: left;
  padding: 2px 0 0 7px;
}

.track-demo-username {
  color: #bbb;
}

.small-play-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 30px;
  top: 8px;
  background: asset-url('small_play_icon.png');
  background-size: cover;
  float: right;
}

.expand-bar {
  text-align: center;
  color: #aaa;
  padding: 6px 0 0 0;
  width: 422px;
}

.expand-bar:hover {
  background: #eee;
  color: #444;
  cursor: pointer;
}
