/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ~ RESET ~ */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;

  box-sizing: inherit;
  background: transparent;
}

/* ~ CLEARFIX ~ */

.group {
  content: "";
  clear: both;
  display: block;
}

/* ~ USER AUTHENTICATION ~ */

.login-dimmer {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
}

.login-box {
  width: 400px;
  height: 400px;
  background: rebeccapurple;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 350px;
  opacity: 1;
}

body {
  font-family: sans-serif;
  font-family: Tahoma;
  font-size: 12px;
}

ul {
  list-style: none;
}

.auth-header-stretch {
  background: #2a2a2a;
  padding: 0 10px;
  position: relative;
  height: 65px;
}

.auth-header-bar {
  color: #fff;
  font-size: 18px;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.auth-header-logo {
  float: left;
  padding: 10px;
  letter-spacing: 5px;
  position: absolute;
  left: 30px;
  margin: 3px 0 0 0;
}

.auth-header-tabs {
  display: block;
  float: right;
  color: #eee;
  padding: 0 20px 0 0;
}

.auth-header-logo-image {
  height: 38px;
  width: 38px;
  float: left;
  background: asset-url('cloudcast_slim_white.png');
  background-size: contain;
}

.create-account-tab,
.sign-in-tab,
.create-account-selected,
.sign-in-selected {
  display: block;
  float: left;
  padding: 10px 15px 20px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sign-in-selected,
.create-account-selected {
  background: #fff;
  color: #000;
}

.auth-main {
  width: 450px;
  padding: 40px 10px 10px 10px;
  min-height: 450px;
  margin: 0 auto;
}

.auth-form * input {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  margin: 4px 0;
}

.email-input {
  width: 430px;
}

.halved-password-input-wrapper {
  margin: 20px 0 20px 0;
  width: 225px;
  float: left;
}

.halved-password-input {
  width: 205px;
}

.password-input-wrapper {
  margin: 20px 0 20px 0;
  width: 450px;
  float: left;
}

.password-input {
  width: 430px;
}

.terms-agreement-wrapper > a {
  color: #3388DD;
}

.terms-agreement-wrapper > a:hover {
  color: #000;
}

.submit-button {
  background: #ff5500;
  color: #fff;
  padding: 5px 10px;
  float: right;
  border-radius: 4px;
}

.submit-button:hover {
  cursor: pointer;
}

/* ~ TRACK INDEX NAVBAR ~ */

.index-navbar-stretch {
  height: 46px;
  margin: 0 auto;
  background: #333;
  display: block;
}

.index-navbar {
  height: 46px;
  max-width: 1000px;
  margin: 0 auto;
  background: #333;
  display: block;
}

.index-logo-image {
  width: 42px;
  height: 34px;
  background: linear-gradient( 350deg, #f30, #f70);
  padding: 6px;
  content: asset-url('cloudcast_slim_white.png');
  float: left;
}

.link-tab {
  color: #bbb;
  font-size: 14px;
  text-align: center;
}

.link-tab:hover {
  color: #eee;
}

.search-bar-tab {
  width: 326px;
  height: 22px;
  padding: 16px 6px 6px 12px;
  display: block;
  float: left;
  position: relative;
}

.search-bar {
  background: #ddd;
  height: 20px;
  padding: 4px 4px 4px 8px;
  margin: 0 0 12px 0;
  width: 92%;
  border-radius: 4px;
  position: absolute;
  top: 9px;
  font-size: 14px;
  color: #999;
}

.home-tab, .collection-tab {
  width: 104px;
  height: 24px;
  padding: 14px 6px 6px 6px;
  display: block;
  border-right: 1px solid #000;
  float: left;
}

.upload-tab, .header-sign-in-tab {
  width: 70px;
  height: 24px;
  padding: 14px 6px 6px 6px;
  display: block;
  float: right;
}

/* ~ TRACK INDEX MAIN ~ */

.index-main {
  background: #eee;
  height: 1000px;
}

.index-page {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #fff;
}

.index-page-main {
  width: 660px;
  float: left;
}

.stream-header {
  font-size: 18px;
  color: #aaa;
  padding: 16px 16px 4px 16px;
  letter-spacing: 2px;
}

.index-sidebar {
  width: 340px;
  height: 100%;
  float: left;
  background: #fff;
  position: absolute;
  border-left: 1px solid #ddd;
  right: 0;
  top: 0;
}

/* ~ TRACK INDEX ITEM ~ */

.track-index-item {
  width: 620px;
  height: 240px;
  margin: 0 auto;
  background: #fff;
}

.track-header {
  height: 56px;
  width: 620px;
}

.track-poster-image {
  width: 32px;
  height: 32px;
  display: block;
  margin: auto 0;
  background: asset-url('medigoron.png');
  background-size: contain;
  border-radius: 50%;
  margin: 12px 0 0 0;
  float: left;
}

.track-header-text {
  font-size: 12px;
  margin: 19px 0 0 9px;
  float: left;
}

.track-body {
  height: 184px;
  padding: 12px;
  position: relative;
}

.track-image {
  background: #ff5500;
  width: 160px;
  height: 160px;
  background: asset-url('agents_of_fortune.jpg');
  background-size: contain;
}

.track-body-main {
  height: 184px;
  width: 424px;
  right: 620px;
  position: absolute;
  top: 0;
  left: 184px;
  padding: 6px;
}

.track-subheader {
  height: 40px;
  width: 424px;
  position: relative;
  margin: 6px 0 0 0;
}

.playicon {
  width: 40px;
  height: 40px;
  background: asset-url('play_icon.png');
  background-size: contain;
}

.track-username {
  color: #c0c0c0;
  position: absolute;
  top: 0;
  left: 44px;
}

.track-title {
  color: #000;
  position: absolute;
  font-size: 14px;
  top: 18px;
  left: 44px;
}

.waveform {
  background: #ddd;
  height: 70px;
  width: 424px;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.track-time {
  background: #000;
  width: 28px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 6px;
  color: #888;
  font-size: 11px;
  text-align: center;
}

.track-buttons {
  width: 130px;
  height: 32px;
  position: absolute;
  top: 140px;
  font-size: 20px;
  text-align: center;
  left: 196px;
}

.track-button {
  float: left;
  width: 24px;
  height: 24px;
  display: block;
  margin: 3px;
  border: 1px solid #777;
  border-radius: 3px;
}
